.search-section {
  text-align: center;
  align-items: center;
  margin-top: 25px;
}

.card {
  width: 400px;
  height: 600px;
  align-items: center;
  border: 1px solid black;
  background-color: lightblue;
  margin: 10vh 8vw;
}

.movie-poster {
  width: 280px;
  height: 300px;
  display: block;
  margin: auto;
}
.title {
  font-weight: bold;
}

.col-1 {
  text-align: center;
}

.head-content {
  text-align: center;
}

button {
  margin: 20px auto;
  border: 2px solid;
  border-radius: 5px;
}

input {
  width: 40%;
  display: inline-block;
  margin-top: 10px;
}
p {
  font-size: 1.5em;
}

h2 {
  font-weight: bold;
  font-size: 3em;
}

.error-message {
  color: brown;
}

@media only screen and (max-width: 320px) {
  .card {
    width: 300px;
    height: 500px;
    margin: 2em;
  }

  .movie-poster {
    width: 200px;
    height: 250px;
  }
  p {
    font-size: 1em;
  }

  h2 {
    font-size: 1.5em;
  }
}
