.favourites-section {
  text-align: center;
  align-items: center;
  margin-top: 25px;
}

.card {
  width: 400px;
  height: 600px;
  margin: 15px 52px;
  align-items: center;
  border: 1px solid black;
  background-color: lightblue;
  margin: 10vh auto;
}

.name {
  font-weight: bold;
  margin-top: 10px;
}

button {
  border: 2px solid;
  border-radius: 5px;
  margin-top: 5px;
}

@media only screen and (max-width: 320px) {
  .card {
    width: 300px;
    height: 200px;
    margin: 2em;
  }

  .movie-poster {
    width: 200px;
    height: 250px;
  }

  p {
    font-size: 1em;
  }

  h2 {
    font-size: 1.5em;
  }
}
